<div class="page">
<h2>Update Your Details</h2>
</div>
<form action="" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">Username</label>
    <input required  id="name" name= "name" type="text" value="{{user.name}}" class="form-control" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input required id="email" name="email" type="email"  value="{{user.email}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" id="location" name="location" value="{{user.location}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="bio">Something About You</label>
    <input type="text" id="bio" name="bio" value="{{user.bio}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="picture">Profile Photo</label>
    <input id="picture" name="picture" type="file" class="form-control-file" aria-describedby="profileHelp"/>
  </div>

  <button class="btn btn-primary">Update My Profile</button>
</form>

<!--prepopulate form with user details-->
<!--include more form validation, same as fabio (except password for now)-->