<div class="page">
<h2>Creating new Place</h2>
</div>
<form class="container" enctype="multipart/form-data" method="POST">
  <!--DIV 1-->
  <div class="row mt-4">
    <div class="col-12 col-sm-6">
      <p><strong>Step 1:</strong> Enter details about the art.</p>
      <div class="form-group">
        <label for="name">Title</label>
        <input required type="text" id="name" name="name" class="form-control" placeholder="If it had a name, what would you call it?"/>
      </div>
      <div class="form-group">
        <label for="description-input">Description</label>
        <input type="textarea" name="description" id="description-input" class="form-control" rows="2" placeholder="What's interesting about it?"/>
      </div>
      <div>
        <input required id="picture-input" name="picture" type="file" class="form-control-file" />
      </div>
      <div>
        <!--latitude-->
        <input required id="latitude-input" type="hidden" name="latitude" placeholder="Place Latitude" value="38"> <!--form type hidden-->
      </div>
      <div>
        <!--longitude-->
        <input required id="longitude-input" type="hidden" name="longitude" placeholder="Place Longitude" value="-8"> <!--form type hidden-->
      </div>
      <div class="mt-4 mb-4">
        <button onclick="getLocation()" class="btn btn-primary btn" >Locate me</button>
        <p id="checkUser" style="color: green;"></p>
      </div>
    </div>
    <!--DIV 2-->
    <div class="col-12 col-sm-6">
      <p><strong>Step 2:</strong> Select location of the art.</p>
      <div id="map-container">
      </div>
      <button class="btn btn-primary mt-4">Share</button>
    </div>
  </div>
</form>

<!--Map Script-->
<script>

//GET USER LOCATION----------------------------------------------
function getLocation() {
  if (navigator.geolocation) {
    let $checkUser = document.getElementById("checkUser");
    $checkUser.innerText="Your location was found. Click the map to place a marker." 

    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    console.log("Geolocation is not supported by this browser.");
  }
}
//SEND USER LOCATION FOR INITMAP FUNCTION()
function showPosition(position) {
  initMap(position.coords.latitude, position.coords.longitude);
}
//-----------------------------------------------------------------*/


function initMap(userLat, userLng) {
  let mapcoord={};
 let $inputLatitude = document.getElementById('latitude-input');
 let $inputLongitude = document.getElementById('longitude-input');
 
 

  if(!userLat){

mapcoord = {lat: 38, lng: -8.5};
  }else{

    $inputLatitude.value = (userLat);
 $inputLongitude.value = (userLng);
  mapcoord = {lat: userLat, lng: userLng};
  }

  const map = new window.google.maps.Map(document.getElementById('map-container'), {zoom: 16, center: mapcoord});
  let marker;
marker = new google.maps.Marker({
          position: mapcoord,
          map: map
        });

map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();
      $inputLatitude.value = Number(latitude);
      $inputLongitude.value = Number(longitude);
      
      if (marker) {
        marker.setMap(null);
      }
      marker = new window.google.maps.Marker({
        map,
        position: {
          lat: latitude,
          lng: longitude
        }
      });
      
    })
}
</script>
{{>mapscript}}


<!--
<form method="POST" enctype="multipart/form-data">

<label for="name">Name:</label>
<input type="text" name="name" id="name" placeholder="Write name" required>

<div>
  <label for="picture-input">Picture:</label><br>
  <input id="picture-input" name="picture" type="file" required/>
</div>

<label for="description-input">Description:</label>
<textarea required id="description-input" name="description" placeholder="Write a description here"></textarea>

<label for="latitude-input">Latitude</label>
<input required id="latitude-input" type="text" name="latitude" placeholder="Place Latitude">

<label for="longitude-input">Longitude</label>
<input required id="longitude-input" type="text" name="longitude" placeholder="Place Longitude">

<div id="map-container"></div>

<button>Submit art place</button>


</form>
-->