<h1>Create Place</h1>

<form method="POST" enctype="multipart/form-data">

<label for="name">Name:</label>
<input type="text" name="name" id="name" placeholder="Write name" required>

<div>
  <label for="picture-input">Picture:</label><br>
  <input id="picture-input" name="picture" type="file" required/>
</div>

<label for="description-input">Description:</label>
<textarea required id="description-input" name="description" placeholder="Write a description here"></textarea>

<label for="latitude-input">Latitude</label>
<input required id="latitude-input" type="text" name="latitude" placeholder="Place Latitude">

<label for="longitude-input">Longitude</label>
<input required id="longitude-input" type="text" name="longitude" placeholder="Place Longitude">

<button>Submit art place</button>
</form>