<h3>You are updating your comment:</h3>

<form class="container" enctype="multipart/form-data" method="POST">

<textarea required id="message" name="message">{{ comment.message }}</textarea><br>

<button class="btn btn-primary btn-sm">Update comment</button>
</form>