<h1>My Places List</h1>
<a href="/places/create">Create art place</a>

<ul>
{{#each places}}
<li>
<img class="img-list" src="{{pictureUrl}}" />
<a href="/places/{{_id}}">{{name}}</a><br>
<small>Created at: {{createdDate}}</small>
<hr>
</li>
{{/each}}
</ul>

