<h1>My Places List</h1>
<a href="/places/create">Create art place</a>

{{#each places}}
<li>
<img src="{{pictureUrl}}" width="50">
<a href="/places/{{_id}}">{{name}}</a><br>
<small>Created at: {{createdDate}}</small>
</li>
{{/each}}
<br>
