<h1>My Places List</h1>
<a href="/places/create">Create art place</a>

{{#each places}}
  <div class="extended-link" href="#">
    <a href="/places/{{_id}}">{{name}}</a><br>
    <img class="img-list" src="{{pictureUrl}}" />
    <small>Created at: {{createdDate}}</small>
    <hr>
  </div>
{{/each}}

