
<p class="pt-3">Thanks for writing us - we'll get back to you soon. Here's a copy of what you wrote:</p>
<div class="pt-3">
  <h4>Your Email</h4>
  <i>{{email}}</i>
</div>
<div class="pt-3">
  <h4>Subject</h4>
  <i>{{subject}}</i>
</div>
<div class="pt-3 pb-3">
  <h4>Message</h4>
  <i>{{message}}</i>
</div>
<a class="btn btn-primary btn-sm" href="/">Continue</a>