$font-sans: "Roboto", Helvetica, Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);

/*
Old Font Family:
Helvetica Neue
*/

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 80%;
  margin: 0 auto;
}

p.small {
  line-height: 1;
}

/*body {
  max-width: 52em;
  padding: 0 1em;
  
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
}*/

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.img-feed {
  width: 100%;
  max-width: 100%;
}

.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.img-list {
  max-width: 100%;
  height: auto;
}

.img-logo {
  height: 40px;
}

/*form {
  display: flex;
  flex-direction: column;
}*/

/*input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}*/

/*textarea {
  min-height: 6em;
  resize: vertical;
}*/

#map-container {
  width: 100%;
  height: 20em;
}
#directionsPanel {
  width: 100%;
  height: 20em;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.page {
  text-align: center;
  margin-top: 20px;
}
